body {
    margin: 0px;
    overflow-x: hidden;
}

/* Full Width Container */
.fw-container {
    width: 100%;
    position: relative;
}

/* Boxed Container */
.bd-container {
    max-width: 1280px;
    margin: 0 auto 0 auto;
}

.o-1-ct {
    padding-top: 1rem;
}

.o-u-1-ct {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.u-1-ct {
    padding-bottom: 1rem;
}



@media (max-width: 1025px) {
    .bd-container {
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    .bd-container {
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}