body {
    margin: 0px;
    padding: 0px 22px;
    overflow-x: hidden;
}

/* Full Width Container */
.fw-container {
    margin-top: 7rem;
    width: 100%;
    position: relative;
}

/* Boxed Container */
.bd-container {
    max-width: 1140px;
    margin: 7rem auto 0 auto;
}




@media (max-width: 1025px) {
    .bd-container {
        max-width: 100%;
    }
}


@media (max-width: 768px) {
    .bd-container {
        max-width: 100%;
    }
}