# Node/Next
node_modules/
.next/
out/
.vercel/
dist/
coverage/

# Env & Prisma
.env
.env.local
.env.*.local
.prisma/
prisma/dev.db
prisma/dev.db-journal

# OS/Editor
.DS_Store
*.log

# Deine Assets (NICHT ins Repo!)
uploads/
public/uploads/
public/videos/
videos/
